html,
        body {
            background-color: #eee;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        h1 {
            text-align: center;
            font-size: 3em;
            font-family: "Times New Roman", sans-serif;
            margin-top: auto;
        }
        
        h2 {
            font-family: "Times New Roman", sans-serif;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        
        p {
            font-family: "Times New Roman", sans-serif;
            font-weight: bold;
            display: inline-block;
            padding: 0;
            margin: 1em 0.5em 1em 0.5em;
            font-size: 1em;
        }
        
        a {
            color: #333;
            text-decoration: none;
        }
        
        a:visited {
            color: #333;
        }
        
        footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1em;
            text-align: center;
        }
        #volume2 {
            overflow: hidden;
            width: 1000px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: #000;
        }
        
        #wrapper {
            overflow: hidden;
            width: 960px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: #eee;
        }
        
        #keyAreaDiv {
            float: left;
            background-color: #357;
            padding-bottom: 1em;
        }
        
        #dialAreaDiv{ /*pitch*/
            float: left;
            background-color: #eee;
            height: 650px;
            width: 15%;
            border-bottom-right-radius: 1em;
            position: fixed;
            bottom: 0px;
            left: 0px;
        }
        
        #selectAreaDiv {/*oscilador*/
            float: left;
            background-color: #eee;
            height: 650px;
            width: 15%;
            border-bottom-left-radius: 1em;
            position: fixed;
            bottom: 0px;
            right: 0px;
        }
        
        #oscillator1Type {
            background-color: #347;
            color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        
        #oscillator2Type {
            background-color: #347;
            color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        
        #keyboard1 {
            width: 960px;
            height: 192px;
        }
        
        @media screen and (max-width: 600px) {
            html,
            body {
                width: 360px;
                height: 100%;
            }
            h1 {
                font-size: 2em;
                text-shadow: 2px 2px #347;
            }
            h2 {
                font-size: 1em;
                margin-bottom: 0;
            }
            p {
                font-size 0.2em;
            }
            #wrapper {
                width: 360px;
                height: 100%
            }
            #keyAreaDiv {
                padding-bottom: 0em;
            }
            #keyboard1 {
                width: 360px;
                height: 100px;
            }
            #dialAreaDiv {
                width: 100%;
                height: 160px;
                border-bottom-left-radius: 1em;
                border-bottom-right-radius: 1em;
            }
            #dial1 {
                width: 60px;
                height: 60px;
            }
            #dial2 {
                width: 60px;
                height: 60px;
            }
            #selectAreaDiv {
                width: 100%;
                height: 160px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            #select1Div {
                float: left;
                width: 50%;
            }
            #select2Div {
                float: left;
                width: 50%;
            }
            footer {
                margin: 0;
                padding: 0 0 0 0;
            }
        }